.endpage {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.endpage .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.text p, .text h1 {
    color: var(--light-color);
}

.text h1 {
    font-weight: 400;
    font-size: 2rem;;
}

.layer {
  position: absolute;
  left: 0;

  z-index: -1;

  width: 100vw;
  height: 110vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  transform: translateY(50px);
  
  animation: fadeInLayer 1.2s ease-out forwards;
}

@keyframes fadeInLayer {
    to { transform: translateY(0); opacity: 1; }
}

.layer1 {
    bottom: 0;
    animation-delay: 0.3s;
}

.layer2 {
    height: 60vh;
    background-size: contain;
    bottom: -5vh;
    animation-delay: 1s;
    opacity: 0;
}
    
.layer3, .layer4 {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/images/Cutscene/End/Text.png');

    z-index: 0;

    width: 40vw;
    height: auto;
    aspect-ratio: 110/13;

    position: absolute;
    top: 20vh;
    left: 50%;

    opacity: 0;
    transform: translate(-50%, 50px);

    animation: fadeText 1.2s ease-out forwards;
    animation-delay: 2s;
}

.layer4 {
    background-image: none;
    top: 35vh;
    animation-delay: 2.5s;
}

@keyframes fadeText {
    to { transform: translate(-50%, 0); opacity: 1; }
}