.game {
    overflow: hidden;
    position: relative;
}

.games {
    width: 100%;
    height: 100%;
}

.background {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 200vw;
    height: 40vh;
    background-image: url("/images/Main/Background-night.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    animation: wind 10s ease-in-out infinite;
}

@keyframes wind {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(1.7vw);
    }

    100% {
        transform: translateX(0);
    }
}


.main_right {
    background-image: url("/images/Main/Background-first.png");
    height: 100vh;
    background-size: 100% 100%;
    position: relative;
}

.main_left {
    background-image: url("/images/Main/Background-second.png");
    height: 100vh;
    background-size: 100% 100%;
    position: relative;
}

.goLEFT_btn,
.goRIGHT_btn {
    position: absolute;
    width: 4cqw;
    top: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.goLEFT_btn:hover,
.goRIGHT_btn:hover {
    width: 8cqw;
    cursor: pointer;
}

.goLEFT_btn {
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0.6) 100%);
}

.goRIGHT_btn {
    left: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0) 100%);
}

/* STÁNKY */

.building {
    position: absolute;
    z-index: 1;
    background-size: 100% 100%;
    background-color: transparent;
    transition: transform 0.3s ease;
}

.building:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.wheel {
    background-image: url("/images/Homepage/Wheel.png");
    width: 38vw;
    height: 37vh;
    right: 36vw;
    top: 0vh;
}

.shop {
    background-image: url("/images/Homepage/Shop.png");
    width: 20vw;
    height: 30vh;
    right: 73vw;
    top: 13vh;
}

.russianroulette {
    background-image: url("/images/Homepage/Russianroulette.png");
    width: 12vw;
    height: 34vh;
    right: 87vw;
    top: 40vh;
}

.feelinglucky {
    background-image: url("/images/Homepage/Feelinglucky.png");
    width: 11vw;
    height: 34vh;
    right: 15vw;
    top: 16vh;
}

.darts {
    background-image: url("/images/Homepage/Darts.png");
    width: 9vw;
    height: 29vh;
    right: 27vw;
    top: 16vh;
}


.slots {
    background-image: url("/images/Homepage/Slots.png");
    width: 12vw;
    height: 32vh;
    right: 39vw;
    top: 15vh;
}


.blackjack {
    background-image: url("/images/Homepage/Blackjack.png");
    width: 28vw;
    height: 46vh;
    right: 10vw;
    top: 10vh;
}

.whackamole {
    background-image: url("/images/Homepage/Whackamole.png");
    width: 13vw;
    height: 32vh;
    right: 1vw;
    top: 40vh;
}

.food {
    background-image: url("/images/Homepage/Food.png");
    width: 20vw;
    height: 31vh;
    right: 63vw;
    top: 10vh;
}

.pexeso {
    background-image: url("/images/Homepage/Pexeso.png");
    width: 11vw;
    height: 35vh;
    right: 52vw;
    top: 10vh;
}


/* NPC + ANIMACE*/

.npc {
    position: absolute;
    z-index: 2;

    background-size: 100% 100%;
}

.longwalk {
    transform-origin: center;
    animation: long-walk 50s linear infinite;
}

.shortwalk {
    transform-origin: center;
    animation: short-walk 40s linear infinite;
}

.baloons {
    background-image: url("/images/Homepage/NPC/Baloons.png");
    width: 10vw;
    height: 18vh;
    right: 20vw;
    bottom: 35vh;
}

.girlindress {
    background-image: url("/images/Homepage/NPC/Girlindress.png");
    width: 5vw;
    height: 13vh;
    top: 62vh;
    left: 40vw;
}

.family {
    background-image: url("/images/Homepage/NPC/Family.png");
    width: 7vw;
    height: 13vh;
    top: 62vh;
    left: 15vw;
}

.lamp {
    position: absolute;
    z-index: 5;
    background-size: 100% 100%;
    background-image: url("/images/Homepage/Map/Lamp.png");
    height: 40vh;
    width: 30vw;
}

.trash {
    position: absolute;
    z-index: 5;
    background-size: 100% 100%;
    background-image: url("/images/Homepage/Map/Trashcan.png");
    height: 9vh;
    width: 5vw;
}

.lamp1 {
    top: 50vh;
    right: 55vw;
}

.lamp2 {
    top: 45vh;
    right: 20vw;
}

.lamp3 {
    top: 40vh;
    right: 67vw;
}
.lamp4 {
    top: 54vh;
    right: 15vw;
}

.trash1 {
    top: 42vh;
    right: 7vw;
}
.trash2 {
    top: 42vh;
    right: 69vw;
}
.trash3 {
    top: 38vh;
    right: 90vw;
}
.trash4 {
    top: 50vh;
    right: 15vw;
}

@keyframes long-walk {
    0% {
        transform: translateX(0) scaleX(1) translateY(0);
    }

    25% {
        transform: translateX(15vw) scaleX(1) translateY(-2px);
    }

    50% {
        transform: translateX(30vw) scaleX(1) translateY(0);
    }

    50.1% {
        transform: translateX(30vw) scaleX(-1) translateY(0);
    }

    75% {
        transform: translateX(15vw) scaleX(-1) translateY(-2px);
    }

    100% {
        transform: translateX(0) scaleX(-1) translateY(0);
    }
}


@keyframes short-walk {
    0% {
        transform: translateX(0) scaleX(1) translateY(0);
    }

    25% {
        transform: translateX(15vw) scaleX(1) translateY(-2px);
    }

    50% {
        transform: translateX(30vw) scaleX(1) translateY(0);
    }

    50.1% {
        transform: translateX(30vw) scaleX(-1) translateY(0);
    }

    75% {
        transform: translateX(15vw) scaleX(-1) translateY(-2px);
    }

    100% {
        transform: translateX(0) scaleX(-1) translateY(0);
    }
}