.page {
    position: relative;
    background-position: center;
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    
}


.button {
    position: absolute;
    bottom: 5%;
    right: 5%;
    padding: 0.5em 1em;
}

.textContainer {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);

    padding: 2em;
    width: max-content;
    max-width: 40%;
    background-color: blanchedalmond;
}
.speaker{
    width: 50px;
    height: 50px;
    display: block;
}
.Boy{
    background-color: aqua;
}
.Girl{
    background-color: brown;
}





/* STARTPAGE */

.startpage {
    background-image: url('/images/Cutscene/Intropage.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.startpage .text {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    font-size: 3rem;
}

.startpage h1 {
    color: var(--light-color);
    text-shadow: 2px 2px 4px #1c1c1c;
}

.startpage .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
}

.buttonIntro {
    font-size: 1.8rem;
    padding: .25em .5em;
    background-color: none;
    margin: 0.25em;
    cursor: pointer;
}

.introRules {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light-color);
    padding: 3rem;
}