.page {
    position: relative;
    background-position: center 70%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}


.button {
    position: absolute;
    bottom: 5%;
    right: 5%;
    padding: 0.5em 1em;
}

.textContainer {
    position: absolute;
    bottom: 2.5%;
    left: 50%;
    transform: translate(-50%);

    padding: 2em;
    width: max-content;
    max-width: 40%;
    background-color: blanchedalmond;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.speakerAvatar{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 85px;
    height: 85px;
    background-size: 100% 100%;
}
.boy{
    background-image: url("/images/Avatars/boyfriendAvatar.png");
}
.girl{
    background-image: url("/images/Avatars/girlfriendAvatar.png");
}
.narrator{
    background-image: url("/images/Avatars/narratorAvatar.png");
}
.speakerName{
    font-weight: bold;
    font-size: 2em;
}
.text {
    font-size: 1.5em;
}


/* STARTPAGE */

.startpage {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.startpageContainer {
    user-select: none;
}

.startpage .text {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    font-size: 3rem;
}

.startpage .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
}



.layer {
  position: absolute;
  left: 0;

  z-index: -1;

  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  transform: translateY(50px);
  
  animation: fadeInLayer 1.2s ease-out forwards;
}

@keyframes fadeInLayer {
    to { transform: translateY(0); }
}

.layer1 {
    bottom: 22vh;
    background-image: url('/images/Cutscene/Start/Background.png');
    animation-delay: 0.3s;
}
.layer2 {
    bottom: -15vh;
    background-image: url('/images/Cutscene/Start/Grass.png');
    animation-delay: 0.5s;
}
.layer3, .layer4 {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/images/Cutscene/Start/Text.png');

    z-index: 0;

    width: 40vw;
    height: auto;
    aspect-ratio: 110/13;

    position: absolute;
    bottom: 35vh;
    left: 50%;

    opacity: 0;
    transform: translate(-50%, 50px);

    animation: fadeText 1.2s ease-out forwards;
    animation-delay: 2s;
}

.layer4 {
    background-image: none;
    bottom: 20vh;
    animation-delay: 2.2s;
}

@keyframes fadeText {
    to { transform: translate(-50%, 0); opacity: 1; }
}

/* INTRO POP UP*/

.introRulesContainer {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    z-index: 3;

    display: flex;
    flex-direction: column;

}

.introRules {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: flex-start;
    align-items: center;

    overflow-y: auto;
    height: 100%;
    width: 100%;

}


.introText, .rulesText {
    padding: 0 5%;
}

.introRules h1 {
    color: var(--dark-color);
    text-shadow: none;
}

.rulesText span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.rules {
    padding: 1rem;
}

.rulesText p {
    display: flex;
}

.rulesBold {
    margin: 0 .2rem;
    border-bottom: 1px dotted var(--dark-color);
}

.nameInputContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem 0;
}

.nameInputBox {
    border-bottom: 1px solid var(--dark-color);
        color: var(--dark-color);
        display: flex;
        align-items: center;
}

.nameInput {
    background-color: transparent;
    padding: .2rem ;
    margin: 0 1rem;
    width: 10vw;
}

.nameInput:focus {
    color: #B24B26;
    outline: none;
}

.nameInput::selection {
    background-color: #B24B26;
    color: var(--light-color);
}

.rulesButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}
