.cutscene {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

body, h1, p {
    margin: 0;
}

.cutscene1 {
    background-image: url('../images/Cutscene/Intro1.jpg');
}
.cutscene2 {
    background-image: url('../images/Cutscene/Intro2.jpg');
}
.cutscene3 {
    background-image: url('../images/Cutscene/Intro3.jpg');
}
.cutscene4 {
    background-image: url('../images/Cutscene/Intro4.jpg');
}

.cutscene__button {
    position: absolute;
    bottom: 5%;
    right: 5%;
    padding: 0.5em 1em;
}