.backButton {
    position: absolute;
    bottom: 5vw;
    right: 5vw;
}

/* FOOD BAR */
.menu {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    width: 75vw;
    aspect-ratio: 230/149;
    background: 
        linear-gradient(rgba(16, 7, 27, 0.3), rgba(0, 0, 0, 0.3)), 
        url('/images/Main/Pausemenu.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu h1 {
    font-size: 2rem;
    font-weight: 600;
}

.menu h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

.itemsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5%;

    justify-content: center;
    justify-items: center;

    margin: 0 auto;

    padding: 0 10vw;

    width: 50vw;
    height: 80vh;
}

.foodCard {
    border-bottom: 1px solid #91846d;
}


.itemFood {
    display: flex;
    flex: 1 0 50px;
    justify-content: space-between;
    margin: 0.2rem 0;
    border-radius: 8px;
}

.foodInfo{
    display: flex;
    align-items: center;
    gap: 1em;
}

.foodStats {
    display: flex;
    align-items: center;
    gap: 2em;
}

/* ITEMSHOP */
.page {
    height: 100vh;
    width: 100vw;
    background-image: url("/images/Main/ShopBackground.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative; /* Důležité pro absolutní pozicování dětí */
    overflow: hidden;
}

.item {
    position: absolute;
    cursor: pointer;
    z-index: 10;
}

.itemCard {
    position: absolute;
    left: 115%;
    top: 0;
    width: 12vw;
    background-color: var(--light-color);
    padding: 1em;
    border: 2px solid var(--dark-color);
    border-radius: 8px;
    box-shadow: 4px 4px 0px rgba(0,0,0,0.2);
    
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    z-index: 20;
}

.item:hover .itemCard {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(5px);
}


/* konkretni itemy */

.item[data-id="rose"] {
    background-color: red;
    width: 3vw;
    aspect-ratio: 1/1;
    top: 75vh;
    right: 25vw;
}

.item[data-id="brownbear"] {
    width: 5vw;
    aspect-ratio: 1/1;
    top: 60vh;
    left: 40vw;
}

.item[data-id="rose"] .itemCard {
    left: auto;
    right: 110%;
}