
/* FOOD BAR */
.menu {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    width: 75vw;
    aspect-ratio: 230/149;
    background: 
        linear-gradient(rgba(16, 7, 27, 0.3), rgba(0, 0, 0, 0.3)), 
        url('/images/Main/Pausemenu.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;

}

.menu h1 {
    font-size: 2rem;
    font-weight: 600;
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
}

.menu h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

.itemsContainer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: 80px;
    grid-auto-flow: row;
    gap: 8px;
    padding: 0 2vw;
    overflow: hidden;
}

.buyButton {
    background-color: transparent;
    border: 1px solid var(--dark-color);
    cursor: pointer;
    
    transition: all 0.2s ease-in-out;
}
.buyButton:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
    
}

.foodCard {
    border-bottom: 1px solid #91846d;
}


.itemFood {
    display: flex;
    flex: 1 0 50px;
    justify-content: space-between;
    margin: 0.2rem 0;
    border-radius: 8px;
    
    
}

.foodInfo{
    display: flex;
    align-items: center;
    gap: 1em;
}

.foodStats {
    display: flex;
    align-items: center;
    gap: 2em;
}

/* ITEMSHOP */
.page {
    height: 100vh;
    width: 100vw;
    background-image: url("/images/Main/ShopBackground.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative; /* Důležité pro absolutní pozicování dětí */
    overflow: hidden;
}

.item {
    position: absolute;
    cursor: pointer;
    z-index: 5;
}

.itemCard {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 95%;
    top: 0;
    width: 12vw;
    background-color: var(--light-color);
    padding: 1em;
    border: 2px solid var(--dark-color);
    border-radius: 8px;
    box-shadow: 4px 4px 0px rgba(0,0,0,0.2);
    
    opacity: 0;
    pointer-events: auto;
    transition: all 0.2s ease-in-out;
    z-index: 20;
}

.itemCard button {
    margin-left: auto;
    background-color: transparent;
    border: 1px solid var(--dark-color);
    padding: .5rem 1rem;
}

.item:hover {
    z-index: 100;
}

.item:hover .itemCard {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0px);
    z-index: 20;
}

.item[data-id="rose"] {
    background-image: url("/images/ItemShop/rose.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 108/95;
    width: 10vw;
    top: 75vh;
    right: 25vw;
}
.item[data-id="tulip"] {
    background-image: url("/images/ItemShop/tulip.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 108/95;
    width: 10vw;
    top: 72vh;
    right: 45vw;
}
.item[data-id="sunflower"] {
    background-image: url("/images/ItemShop/sunflower.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 108/95;
    width: 12vw;
    top: 70vh;
    right: 65vw;
}
.item[data-id="gingerbreadheart"] {
    background-image: url("/images/ItemShop/gingerbread.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 108/95;
    width: 12vw;
    top: 40vh;
    right: 40vw;
}

.item[data-id="brownbear"] {
    background-image: url("/images/ItemShop/brownbear.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 15vw;
    aspect-ratio: 23/30;
    top: 20vh;
    left: 20vw;
}
.item[data-id="pinkbear"] {
    background-image: url("/images/ItemShop/pinkbear.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 15vw;
    aspect-ratio: 23/30;
    top: 18vh;
    left: 30vw;
}
.item[data-id="whitebear"] {
    background-image: url("/images/ItemShop/whitebear.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 15vw;
    aspect-ratio: 23/30;
    top: 18vh;
    left: 60vw;
}

.item[data-id="brownbear"] .itemCard, .item[data-id="sunflower"] .itemCard, .item[data-id="gingerbreadheart"] .itemCard {
    left: auto;
    right: 105%;
    transform: none;
}

.item[data-id="brownbear"] .itemCard::before, .item[data-id="sunflower"] .itemCard::before, .item[data-id="gingerbreadheart"] .itemCard::before {
    left: auto;
    right: -10%;
}