.page {
    height: 100vh;

    background-image: url("/images/Cutscene/Wheel.png");
    background-size: 110% 100%;

    animation: moveBackground 20s linear infinite;
}

@keyframes moveBackground {
    0% {
        background-position: 30% 100%;
    }
    50% {
        background-position: 50% 80%;
    }
    100% {
        background-position: 30% 100%;
    }
}
