.page {
    height: 100vh;

    background-image: url("/images/Cutscene/Wheel.png");
    background-size: 110%;
    background-repeat: no-repeat;

    animation: moveBackground 20s linear infinite;
}

@keyframes moveBackground {
    0% {
        background-position: 30% 100%;
    }
    100% {
        background-position: 100% 20%;
    }
}

.text {
    font-size: 1.7rem;
}