.bullet{
    position: absolute;
    width: 19cqw;
    aspect-ratio: 1/1;
    background-color: #3D3D3D;
    border-radius: 50%;
    top: 35%; left: 43%;

}

.pos1{
    transform: translate(0px, -170%);
}
.pos2{
    transform: translate(130%, -90%);
}
.pos3{
    transform: translate(130%, 90%);
}
.pos4{
    transform: translate(0px, 170%);
}
.pos5{
    transform: translate(-140%, 90%);
}
.pos6{
    transform: translate(-140%, -90%);
}

.bulletIn{
    background-color: #dab200;
}