.bullet{
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: #3D3D3D;
    border-radius: 50%;
    top: 36%;left: 43%;

}

.pos1{
    transform: translate(0px, -60px);
}
.pos2{
    transform: translate(50px, -30px);
}
.pos3{
    transform: translate(50px, 30px);
}
.pos4{
    transform: translate(0px, 60px);
}
.pos5{
    transform: translate(-52px, 30px);
}
.pos6{
    transform: translate(-52px, -30px);
}

.bulletIn{
    background-color: #dab200;
}