.bullet{
    position: absolute;
    width: 4cqh;
    height: 4cqh;
    background-color: #3D3D3D;
    border-radius: 50%;
    top: 36%;left: 43%;

}

.pos1{
    transform: translate(0px, -160%);
}
.pos2{
    transform: translate(120%, -80%);
}
.pos3{
    transform: translate(120%, 80%);
}
.pos4{
    transform: translate(0px, 160%);
}
.pos5{
    transform: translate(-130%, 80%);
}
.pos6{
    transform: translate(-130%, -80%);
}

.bulletIn{
    background-color: #dab200;
}