.gunWrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* společné */
.gun {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* BODY */
.gunbody {
    background-image: url(/images/Gun/gun.png);
    aspect-ratio: 964 / 2411;
    height: 50vh;
    position: relative; 
    z-index: 2;
    
}

/* BARREL */
.gunbarrel {
    background-image: url(/images/Gun/barrel.png);
    aspect-ratio: 996 / 1170;
    width: 100%;
    position: absolute;
    z-index: 1;
    transform-origin: left center;
    top: 13%;
    transition: transform 1s ease;

    container-type: size;
}

/* OTEVŘENÍ */
.gunbarrelOppened {
    transform: translate(131%, 0) rotate(90deg);

}