.gunbody{
    background-image: url(../../../images/Gun/Gun-body.png);
    width: 1000px;
    height: 571px;
}
.gunbarrel{
    background-image: url(../../../images/Gun/Barrel.png);
    width: 200px;
    height: 200px;
    position: relative;
}