.gunWrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* společné */
.gun {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* BODY */
.gunbody {
    background-image: url(/images/Gun/Gun-body.png);
    aspect-ratio: 11 / 27;
    height: 33vh;
    position: relative;
    z-index: 2;
}

/* BARREL */
.gunbarrel {
    background-image: url(/images/Gun/Barrel.png);
    aspect-ratio: 40 / 47;
    width: 100%;
    position: absolute;
    z-index: 1;
    transform-origin: left center;
    top: 13%;
    transition: transform 1s ease;
}

/* OTEVŘENÍ */
.gunbarrelOppened {
    transform: translate(120%, 0) rotate(90deg);

}