.card {
    display: block;
    height: 136px;
    width: 100px;
    background-size: contain;
}

.Back{
    background-image: url(../../assets/images/Cards/cardBack.png);
}
.Joker{
    background-image: url(../../assets/images/Cards/cardJoker.png);
}

.Clubs2 {
    background-image: url(../../assets/images/Cards/cardClubs2.png);
}
.Clubs3 {
    background-image: url(../../assets/images/Cards/cardClubs3.png);
}
.Clubs4 {
    background-image: url(../../assets/images/Cards/cardClubs4.png);
}
.Clubs5 {
    background-image: url(../../assets/images/Cards/cardClubs5.png);
}
.Clubs6 {
    background-image: url(../../assets/images/Cards/cardClubs6.png);
}
.Clubs7 {
    background-image: url(../../assets/images/Cards/cardClubs7.png);
}
.Clubs8 {
    background-image: url(../../assets/images/Cards/cardClubs8.png);
}
.Clubs9 {
    background-image: url(../../assets/images/Cards/cardClubs9.png);
}
.Clubs10 {
    background-image: url(../../assets/images/Cards/cardClubs10.png);
}
.ClubsJ {
    background-image: url(../../assets/images/Cards/cardClubsJ.png);
}
.ClubsQ {
    background-image: url(../../assets/images/Cards/cardClubsQ.png);
}
.ClubsK {
    background-image: url(../../assets/images/Cards/cardClubsK.png);
}
.ClubsA {
    background-image: url(../../assets/images/Cards/cardClubsA.png);
}
.Diamonds2 {
    background-image: url(../../assets/images/Cards/cardDiamonds2.png);
}
.Diamonds3 {
    background-image: url(../../assets/images/Cards/cardDiamonds3.png);
}
.Diamonds4 {
    background-image: url(../../assets/images/Cards/cardDiamonds4.png);
}
.Diamonds5 {
    background-image: url(../../assets/images/Cards/cardDiamonds5.png);
}
.Diamonds6 {
    background-image: url(../../assets/images/Cards/cardDiamonds6.png);
}
.Diamonds7 {
    background-image: url(../../assets/images/Cards/cardDiamonds7.png);
}
.Diamonds8 {
    background-image: url(../../assets/images/Cards/cardDiamonds8.png);
}
.Diamonds9 {
    background-image: url(../../assets/images/Cards/cardDiamonds9.png);
}
.Diamonds10 {
    background-image: url(../../assets/images/Cards/cardDiamonds10.png);
}
.DiamondsJ {
    background-image: url(../../assets/images/Cards/cardDiamondsJ.png);
}
.DiamondsQ {
    background-image: url(../../assets/images/Cards/cardDiamondsQ.png);
}
.DiamondsK {
    background-image: url(../../assets/images/Cards/cardDiamondsK.png);
}
.DiamondsA {
    background-image: url(../../assets/images/Cards/cardDiamondsA.png);
}
.Hearts2 {
    background-image: url(../../assets/images/Cards/cardHearts2.png);
}
.Hearts3 {
    background-image: url(../../assets/images/Cards/cardHearts3.png);
}
.Hearts4 {
    background-image: url(../../assets/images/Cards/cardHearts4.png);
}
.Hearts5 {
    background-image: url(../../assets/images/Cards/cardHearts5.png);
}
.Hearts6 {
    background-image: url(../../assets/images/Cards/cardHearts6.png);
}
.Hearts7 {
    background-image: url(../../assets/images/Cards/cardHearts7.png);
}
.Hearts8 {
    background-image: url(../../assets/images/Cards/cardHearts8.png);
}
.Hearts9 {
    background-image: url(../../assets/images/Cards/cardHearts9.png);
}
.Hearts10 {
    background-image: url(../../assets/images/Cards/cardHearts10.png);
}
.HeartsJ {
    background-image: url(../../assets/images/Cards/cardHeartsJ.png);
}
.HeartsQ {
    background-image: url(../../assets/images/Cards/cardHeartsQ.png);
}
.HeartsK {
    background-image: url(../../assets/images/Cards/cardHeartsK.png);
}
.HeartsA {
    background-image: url(../../assets/images/Cards/cardHeartsA.png);
}
.Spades2 {
    background-image: url(../../assets/images/Cards/cardSpades2.png);
}
.Spades3 {
    background-image: url(../../assets/images/Cards/cardSpades3.png);
}
.Spades4 {
    background-image: url(../../assets/images/Cards/cardSpades4.png);
}
.Spades5 {
    background-image: url(../../assets/images/Cards/cardSpades5.png);
}
.Spades6 {
    background-image: url(../../assets/images/Cards/cardSpades6.png);
}
.Spades7 {
    background-image: url(../../assets/images/Cards/cardSpades7.png);
}
.Spades8 {
    background-image: url(../../assets/images/Cards/cardSpades8.png);
}
.Spades9 {
    background-image: url(../../assets/images/Cards/cardSpades9.png);
}
.Spades10 {
    background-image: url(../../assets/images/Cards/cardSpades10.png);
}
.SpadesJ {
    background-image: url(../../assets/images/Cards/cardSpadesJ.png);
}
.SpadesQ {
    background-image: url(../../assets/images/Cards/cardSpadesQ.png);
}
.SpadesK {
    background-image: url(../../assets/images/Cards/cardSpadesK.png);
}
.SpadesA {
    background-image: url(../../assets/images/Cards/cardSpadesA.png);
}
