.slot-machine {
  position: relative;
  overflow: hidden;
}
.frame {
  position: absolute;
  bottom: 0;
  width: 80%;
  aspect-ratio: 1278/960;
  background-size: cover;
  z-index: 10;
  background-image: url(../../../images/SlotMachine/slot-pozadi.png);

}
.slotsContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 48%;
  transform: translateX(-51%);
  width: 62%;
  top: 20%;
  gap: 8px;
  z-index: 5;
}


.slotButton{
  position: absolute;
  background-color: transparent;
  background-size: 100% 100%;
  z-index: 11;
  border: 0;

}
.spinButton{
  background-image: url(../../../images/SlotMachine/spinButton.png);
  aspect-ratio: 40/435;
  height: 50cqh;
  bottom: 13cqh;  
  right: 5cqw; 
  
  
}
.stopButton{
  background-image: url(../../../images/SlotMachine/stopButton.png);
  aspect-ratio: 160/44;
  height: 6cqh;
  bottom: 15cqh;
  right: 14.5cqw;

}
