.slot-machine {
  position: relative;
  overflow: hidden;
}

.frame {
  --aspect-ratio: 1278/960;
  background-size: 100% 100%;
  z-index: 10;
  background-image: url(/images/SlotMachine/slot-pozadi.png);
  perspective: 800px;
}

.slotsContainer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 17.5cqw;
  width: 60.3cqw;

  top: 35.7cqw;
  z-index: 5;
}

.slot {
  height: 24.7cqw;
  width: 32%;
}


.slotButton {
  position: absolute;
  background-color: transparent;
  background-size: 100% 100%;
  z-index: 11;
  border: 0;
}

.slotButton:hover {
  cursor: pointer;
  scale: 1.01;

}

.spinButton {
  background-image: url(/images/SlotMachine/spinButton.png);
  aspect-ratio: 40/435;
  height: 40cqh;
  bottom: 8.3cqw;
  right: 7cqw;
  transform-origin: center bottom;
  transform-style: preserve-3d;
}

.spinButton.spinning {
  animation: spinButtonAnim 1s ease-in-out;
}

@keyframes spinButtonAnim {
  0% {
    transform: rotateX(0deg)
  }

  50% {
    transform: rotateX(-30deg)
  }

  100% {
    transform: rotateX(0deg)
  }
}


.stopButton {
  background-image: url(/images/SlotMachine/stopButton.png);
  aspect-ratio: 160/44;
  width: 10cqw;
  bottom: 12.5cqh;
  right: 20.5cqw;
}