:root {
    --card-width: 7.5em;
    --card-height: calc(var(--card-width) * 1.36);
}

.cardContainer {
    display: block;
    aspect-ratio: 100/136;
    height: var(--card-height);
    min-width: var(--card-width);
    position: relative;
    transition: transform 600ms ease-in-out;

    --card-deal-duration: 750ms;
}

.card {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 600ms cubic-bezier(0.22, 0.61, 0.36, 1), box-shadow 300ms;
    transform-style: preserve-3d;
    transform-origin: center center;
    will-change: transform;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.fromDeckAnimation {
    animation: dealFromDeck var(--card-deal-duration) ease-out forwards;
}

.flippingDuringDeal {
    animation: flipToFrontDuringDeal var(--card-deal-duration) ease-out forwards;
}

@keyframes flipToFrontDuringDeal {
    0% {
        transform: rotateY(180deg);
    }

    60% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

@keyframes dealFromDeck {
    0% {
        transform: translate(var(--deck-pos-x), var(--deck-pos-y));
        rotate: 0 0 1 0deg;

    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes flipCardToFront {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0deg);
    }

}

.isBack {
    transform: rotateY(180deg);
}

.isFront {
    transform: rotateY(0deg);
}

.clickable {
    cursor: pointer;
}

.face {
    position: absolute;
    inset: 0;
    background-size: cover;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.Back {
    background-image: url(/images/Cards/cardBack.png);
    transform: rotateY(180deg);
}

.Front {
    transform: rotateY(0deg);
}


/*ruka karet ve hře*/
.handContainer {
    --left-offset: calc(var(--card-width) / 2);
    --top-offset: calc(var(--card-height) / 2);
    --card-hover-translate-x: calc(var(--card-width) / -8);
    --card-hover-translate-y: calc(var(--card-height) / -8);


    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, calc(var(--card-width) - var(--left-offset)));
    grid-auto-rows: calc(var(--card-height) - var(--top-offset));
    margin: 1em;
    width: fit-content;
    padding-top: calc(var(--top-offset) + calc(var(--card-hover-translate-y) * -1));
    padding-left: calc(var(--left-offset) + calc(var(--card-hover-translate-x) * -2));
    padding-bottom: calc(var(--card-hover-translate-y) * -1);
    padding-right: calc(var(--card-hover-translate-x) * -1);
}


.handContainer .cardContainer:nth-child(5n+1) {
    rotate: 0 0 1 -8deg;
    translate: 0 calc(var(--card-height) / 15);
}

.handContainer .cardContainer:nth-child(5n+2) {
    rotate: 0 0 1 -4deg;
    translate: 0 calc(var(--card-height) / 50);
}

.handContainer .cardContainer:nth-child(5n+3) {
    rotate: 0 0 1 0deg;
}

.handContainer .cardContainer:nth-child(5n+4) {
    rotate: 0 0 1 4deg;
    translate: 0 calc(var(--card-height) / 50);
}

.handContainer .cardContainer:nth-child(5n+0) {
    rotate: 0 0 1 8deg;
    translate: 0 calc(var(--card-height) / 15);
}

.handContainer .cardContainer {
    margin-top: calc(var(--top-offset) * -1);
    margin-left: calc(var(--left-offset) * -1);
}

.handContainer .card:not(.isBack):hover {
    transform: translate(var(--card-hover-translate-x), var(--card-hover-translate-y));
}