.minigameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;

    width: 90vw;
    height: 95vh;
    gap: 4vh;
    margin: 0 auto;

    background-image: url("/images/Main/InfoBackground.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.ending p, .ending button { font-size: 2rem }
.ending h2 { font-size: 3rem }

.start .text { font-size: 1.3rem; }

.text, .bet, .rules, .buttons {
    width: 40%;
}

.buttons {
    display: flex;
}


.buttonAll {
    border: 1px solid var(--dark-color);
    background-color: transparent;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.buttonAll:hover {
    background-color: var(--orange);
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
