.infoContainer {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    width: 70vw;
    height: 80vh;

    background-image: url("/images/Main/InfoBackground.png");
    background-size: 100% 100%;

    padding: 15vh 7vw 15vh 7vw;

    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: center;
    align-items: center;

    overflow-y: auto;
    scrollbar-width: thin;
    height: 100%;
    width: 100%;
}

.ending p, .ending button { font-size: 4vh; }
.ending h2 { font-size: 6vh; }

.start .text { font-size: 1.3rem; }

.text, .bet, .rules, .buttons {
    width: 40%;
}

.buttons {
    display: flex;
}


.buttonAll {
    border: 1px solid var(--dark-color);
    background-color: transparent;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.buttonAll:hover {
    background-color: var(--orange);
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
