.grid {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: space-between;
    justify-items: center;
    gap: 1em;
    width: max-content;
    padding: 2em;
    border: 1px solid gray;
}

.moleHole {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    aspect-ratio: 1/1;
    width: 60px;
    overflow: hidden;
    border: 1px solid lime;

}

.mole {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../../images/mole.png");
    background-size: contain;
    cursor: pointer;
    transform: translateY(-100%);
    transform-origin: bottom;
}
.gotHit {
    animation: gotHit 250ms linear forwards;
}
.isUp {
    animation: goingUp 500ms ease-out forwards;
}
.isDown {
    animation: goingDown 500ms ease-in forwards;
}

@keyframes goingUp {
    0% {transform: translateY(100%);}
    100% {transform: translateY(0);}
}

@keyframes goingDown {
    0% {transform: translateY(0);}
    100% {transform: translateY(100%);}
}

@keyframes gotHit {
    0% {transform: scaleY(100%);}
    100% {transform: scaleY(0)  ;}
}
