.grid {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: space-between;
    justify-items: center;
    gap: 1em;
    width: max-content;
    padding: 2em;
    border: 1px solid gray;
}

.moleHoleBack {
    position: relative;
    aspect-ratio: 2/1;
    width: 60px;
    overflow: hidden;
    background-image: url("../../images/Mole/backMoleHole.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

.moleHoleFront {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    clip-path: polygon(0% 36.46%, 4.27% 37.09%, 5.83% 62.09%, 29.79% 86.05%, 68.34% 86.04%, 92.82% 58.96%, 93.23% 36.46%, 100% 34.38%, 100% 100%, 0% 100%);
    
    background-image: url("../../images/Mole/frontMoleHole.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.moleContainer {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    z-index: 2;
}

.mole {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../../images/Mole/mole.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transform-origin: center bottom;
    clip-path: polygon(25.52% 12.5%, 76.56% 10.16%, 89.58% 90.63%, 10.42% 97.66%);
}

.gotHit {
    animation: gotHit 250ms linear forwards;
}
.isUp {
    animation: goingUp 500ms ease-out forwards;
}
.isDown {
    animation: goingDown 500ms ease-in forwards;
}

@keyframes goingUp {
    0% {transform: translateY(100%);}
    100% {transform: translateY(0);}
}

@keyframes goingDown {
    0% {transform: translateY(0);}
    100% {transform: translateY(100%);}
}

@keyframes gotHit {
    0% {transform: scaleY(100%);}
    100% {transform: scaleY(0)  ;}
}




.startButtonContainer {

    font: inherit;

    --color-off: rgb(0, 100, 0);
    --color-on: rgb(0, 255, 0);
    --frame-color-on: rgb(100,55,115);
    --frame-color-off: rgb(78, 40, 92);
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7em;
    aspect-ratio: 1/1;
    background-color: rgb(5, 15, 5);
    border-radius: 50%;
    
    border: .45em solid var(--frame-color-on); 
    color: var(--color-on);
    padding: .25em;
    box-sizing: border-box;
    overflow: hidden;
}


.notStarted {
    animation: displayFlicker 1.2s steps(2) infinite;
    cursor: pointer;
}

.started{
    animation: textCarousel 8s steps(20) infinite;
    justify-self: left;
    text-align: left; 
    text-indent: 0;
}
.startedContainer{
    justify-content: start;
}

.startButtonText {
    font-size: 2.2rem;
    font-weight: bold;
    user-select: none;
    letter-spacing: .1em;
    text-indent: .1em;
    text-align: center;
    white-space: nowrap;
}

@keyframes displayFlicker {
    0%, 100% {
        color: var(--color-on);
        border-color: var(--frame-color-on);
    }
    50% {
        color: var(--color-off);
        border-color: var(--frame-color-off); 
    }
}

@keyframes textCarousel {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}