.notification{
    display: flex;
    align-items: center;
    gap: .75vw;
    background-image: url("/images/Main/Background-notification.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    padding: .7rem 1.2rem;
    border-radius: .7em;
    animation: SlideIn 0.5s ease-in-out forwards;
    user-select: none;
    cursor: pointer;
}
.notificationExit{
    animation: SlideOut 0.5s ease-in-out forwards;
}

.avatar {
    display: block;
    height: 7.5vh;
    aspect-ratio: 1 / 1;
    rotate: 0 1 0 180deg;
    flex-shrink: 1;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: .7rem 1rem;
    border: 1.5px solid var(--light-color);
    border-radius: .7em;
}

.text {
    white-space: nowrap;
    color: var(--light-color);
}

.greeting {
    font-size: 3vh;
}

.status {
    font-size: 1.2em;
    opacity: 0.9;
}

.listContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: max-content;
    gap: 10px;
    z-index: 10000;

    position: absolute;
    top: 10vh;
    right: 1vw;
    overflow: hidden;


    /* cq na celou obrazovku pro hud a notifikace */
}

@keyframes SlideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes SlideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}