.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    height: 100vh;

    background-image: url('/images/Main/Background-table.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loading .seba {
    position: fixed;
    bottom: 0;
    left: 10vw;

    width: 12vw;
    aspect-ratio: 347/719;

    background-image: url('/images/Homepage/NPC/Seba.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid var(--light-color);
    border-left-color: var(--orange);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.loadingText {
    color: var(--light-color);
    font-size: 2rem;
    animation: textPulse 1.5s infinite;
}

@keyframes textPulse {
    50% { opacity: 0.5; }
}