.button {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 13vw;
    aspect-ratio: 1208/192;
    background-color: transparent;
    background-image: url("/images/Main/Menu-button.png");
    background-size: 100% 100%;
    cursor: pointer;
}

.returnButton {
    padding: 0.3rem 1rem;
}




.modalBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0.7%;
    z-index: 200;
    cursor: not-allowed;
    background-color: rgba(0, 0, 0, 0.7);
}

.modalContent {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: url("/images/Main/PauseMenu.png");
    background-size: contain;
    aspect-ratio: 230 / 149;
    background-repeat: no-repeat;

    width: 40vw;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.modalInteractive {
    width: 50%;
}

.interactiveBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    flex-grow: 1;
    cursor: pointer;
}

.interactiveBtn button {
    background-color: transparent;
    cursor: pointer;
}

.interactiveBtn input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

.interactiveBtn input[type="range"]::-webkit-slider-runnable-track {
  background: #341B17;
  height: 5px;
  border-radius: 0px;
}

.interactiveBtn input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 8px;
  width: 8px;
  background: #E8D3D3;
  border: 1px solid var(--dark-color);
  margin-top: -3px;
}

.interactiveVolume {
    display: flex;
    align-items: center;
}