.blackjackContainer {
    --aspect-ratio: 1920/937;

    background-image: url("/images/blackjackBg.png");
    background-size: 100% 100%;

    container-type: size;
}

.deck {
    position: absolute;
    transform: translate(-50%, -50%);
    width: var(--card-width);
    height: var(--card-height);
    background-image: url("/images/Cards/cardBack.png");
    background-size: cover;
    box-shadow: 0 8px 8px rgb(255, 255, 255);
}

.startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vh;
}

.handScore {
    position: absolute;
    font-size: 3em;
    color: var(--light-color);
    top: -5%;
    left: -5%;
}

.handContainer {
    position: absolute;
    width: fit-content;
    transform: translate(-50%, -50%);
}

.buttonsContainer {
    position: absolute;
    bottom: 10%;
    left: 85%;
    transform: translate(-50%, -50%);
    display: flex;
}

.buttonsContainer>* {
    font-size: 1.75rem;
}