.blackjackContainer {
    background-color: var(--dark-color);
    background-image: url(../../images/blackjackBg.png);
    background-size: cover;
    background-position: top center;
}

.deck {
    position: absolute;
    transform: translate(-50%, -50%);
    width: var(--card-width);
    height: var(--card-height);
    background-image: url(../../images/Cards/cardBack.png);
    background-size: cover;
    box-shadow: 0 8px 8px rgb(255, 255, 255);
}

.startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.handScore {
    position:absolute;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-weight: bold;
    top: -5%;
    left: -5%;
}

.handContainer {
    position: absolute;
    width: fit-content;
    transform: translate(-50%, -50%);
}

.buttonsContainer {
    position: absolute;
    bottom: 10%;
    left: 85%;
    transform: translate(-50%, -50%);
    display: flex;
}
.buttonsContainer > * {
    font-size: 1.75rem;
}



.resultScreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;

    background-color: rgb(0, 0, 0, 0.65);
    color: white;
    font-size: 1.5rem;
    z-index: 100;
    animation: resultScreenFadeIn 2500ms ease-in-out;
}

.resultText {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

@keyframes resultScreenFadeIn {
    0% { opacity: 0; }
    60% { opacity: 1; }
    100% { opacity: 1; }
}