.bar{
    height: 30px;
    width: 400px;
    background: linear-gradient(90deg,rgba(255, 0, 0, 1) 0%, rgba(251, 255, 0, 1) 25%, rgba(51, 255, 0, 1) 49%, rgba(181, 255, 181, 1) 50%, rgba(51, 255, 0, 1) 51%, rgba(230, 255, 0, 1) 75%, rgba(255, 0, 0, 1) 100%);
    position: absolute;
    bottom: 20%;
}
.barVertical{
    top: 27.5%;
    left: 20cqw;
    transform: rotate(90deg) translateX(50%);
}

.dartButton{
    position: absolute;
    bottom: 5cqh;
}

.pointer{
 width: 4%;
 position: absolute;
 bottom: -10px;
 left: 50%;
 z-index: 10;
 transform: translateX(-50%);

}
.pointerDown{
 top: -10px;
 transform: rotate(180deg) translateX(50%);
}

.selector{
    height: 100%;
    width: 4px;
    position: absolute;
    top: 0;
    display: block;
    background-color: black;
}

.dartsGameContainer{
    position: relative;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}   
.dartContainer{
    position: absolute;
    height: 400px;
    width: 400px;
}
.dart{
    
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    z-index: 100;
}
.target{
    background-image: url(/images/Darts/terc.png);
    background-repeat: no-repeat;
    background-size: contain;
}