.bar{
    margin: 100px auto;
    position: relative;
    height: 60px;
    width: 400px;
    background: linear-gradient(90deg,rgba(255, 0, 0, 1) 0%, rgba(251, 255, 0, 1) 25%, rgba(51, 255, 0, 1) 49%, rgba(181, 255, 181, 1) 50%, rgba(51, 255, 0, 1) 51%, rgba(230, 255, 0, 1) 75%, rgba(255, 0, 0, 1) 100%);
}

.pointer{
 width: 10%;
 position: absolute;
 bottom: -10px;
 left: 50%;
 transform: translateX(-50%);

}
.pointerDown{
 top: -10px;
 transform: rotate(180deg);
}