.memoryMatchContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.board {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: auto;
    gap: 1rem;
}

.info {

    background-color:#e8e7d5;
    padding: 2rem;

    font-size: 1.5rem;
}

.card {
  width: 7rem;
  height: auto;
  aspect-ratio: 1/1;
  cursor: pointer;
  transition: transform 0.3s;
  
  background-size: cover;
  background-position: center;
}

.up {
  transform: rotateY(0deg);
}

.down {
    transform: rotateY(-180deg);
    background-image: url('/images/Match/card-back.png');
}

.collected {
  opacity: 0.4;
  pointer-events: none;
}

.card[data-value="0"].up, .card[data-value="8"].up { background-image: url('/images/Match/card-aqua.png'); }
.card[data-value="1"].up, .card[data-value="9"].up { background-image: url('/images/Match/card-diamond.png'); }
.card[data-value="2"].up, .card[data-value="10"].up { background-image: url('/images/Match/card-gemini.png'); }
.card[data-value="3"].up, .card[data-value="11"].up { background-image: url('/images/Match/card-heart.png'); }
.card[data-value="4"].up, .card[data-value="12"].up { background-image: url('/images/Match/card-pisces.png'); }
.card[data-value="5"].up, .card[data-value="13"].up { background-image: url('/images/Match/card-yin.png'); }
.card[data-value="6"].up, .card[data-value="14"].up { background-image: url('/images/Match/card-house.png'); }
.card[data-value="7"].up, .card[data-value="15"].up { background-image: url('/images/Match/card-note.png'); }



