.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    background-color: #000;  /* Černé okraje, pokud okno nesedí do poměru */
}

.gameArea {
    position: relative;
    aspect-ratio: var(--aspect-ratio);

    /* Rozměry: Snaž se být co nejširší... */
    width: 100%;
    height: auto; /* ...ale výšku si dopočítej podle poměru stran */

    /* Omezení: Nikdy nepřeteč výšku ani šířku okna */
    max-height: 95vh;
    /* Tento výpočet zajistí, že max-šířka bude vždy odpovídat 95vh při daném poměru */
    max-width: calc(95vh * (var(--aspect-ratio)));

    container-type: size;

}


.alignToBottom {
    justify-content: center;
    align-items: flex-end;
}
.alignToTop {
    justify-content: center;
    align-items: flex-start;
}
.alignToLeft {
    justify-content: flex-start;
    align-items: center;
}
.alignToRight {
    justify-content: flex-end;
    align-items: center;
}
.centered {
    justify-content: center;
    align-items: center;
}


.resultText {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;

    background-color: rgb(0, 0, 0, 0.65);
    color: white;
    font-size: 1.5rem;
    z-index: 100;
    animation: resultScreenFadeIn 1.5s ease-in-out;
}

.resultText {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

@keyframes resultScreenFadeIn {
    0% { opacity: 0; }
    60% { opacity: 1; }
    100% { opacity: 1; }
}