.container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0%;
    left: 0%;

    z-index: -1;

    display: flex;
    justify-content: space-between;
}
.girlfriend {
    text-align: right;
}