.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    z-index: 100; /* Musí být nad hrou */
    pointer-events: none; /* DŮLEŽITÉ: Kliknutí projdou skrz prázdná místa dolů do hry */

    display: flex;
    justify-content: space-between;
    padding: .5em;
    box-sizing: border-box;
}
.girlfriend {
    text-align: right;
}