.stats_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;

    z-index: 100;
    pointer-events: none;
    user-select: none;

}

.row {
    display: flex;
    justify-content: space-between;
    margin: 0 1vw;
}

.personContainer {
    margin-bottom: 1vh;

    background-image: url("/images/Main/stats-background.png");
    background-size: 100% 100%;

    padding: 1vh 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 24vw;
    aspect-ratio: 368/148;

    flex-shrink: 1;

    container-type: size;

}
.name {
    font-size: 32cqh;
}

.relationshipContainer {
    width: 30vw;
    display: flex;
    container-type: size;
}

