.bar {
    position: relative;
    aspect-ratio: 18/2;
    width: auto;
    height: 1.5em;
    margin: 0.5rem;
    margin-left: 1.7rem;
    background-color: var(--light-color);
}

.bar::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -2px;

    background-image: url("/images/Main/Bar.png");
    background-size: 100% 110%;
    background-repeat: no-repeat;

    pointer-events: none;
    z-index: 102;
}

.fill {
    display: block;
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
}

.label {
    display: inline-flex;
    font-size: 2em;
}

.food-icon,
.drink-icon,
.heart-icon {
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.drink-icon {
    background-image: url("/images/Main/Drink-icon.png");
}

.food-icon {
    background-image: url("/images/Main/Food-icon.png");
}

.heart-icon {
    background-image: url("/images/Main/Heart-icon.png");
}