.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 85cqw;
    
    margin: 6cqh 0;

    pointer-events: none;
}

.bar {
    position: relative;
    aspect-ratio: 18/2;
    
    width: 70cqw;
    
    margin: 0;
    background-color: var(--light-color);
    
    border-radius: 99px;
}

.bar::before {
    content: "";
    position: absolute;
    top: -7cqh;
    left: 0;
    right: 0;
    bottom: -2cqh;

    background-image: url("/images/Main/Bar.png");
    background-size: 100% 110%;
    background-repeat: no-repeat;

    pointer-events: none;
    z-index: 102;
}

.fill {
    display: block;
    height: 100%;
    border-radius: 99px;
}


.label {
    display: inline-flex;
}

.icon {
    height: 21cqh;
    aspect-ratio: 1/1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-drink {
    background-image: url("/images/Main/Drink-icon.png");
}

.icon-food {
    background-image: url("/images/Main/Food-icon.png");
}

.icon-heart {
    background-image: url("/images/Main/Heart-icon.png");
    height: 5vh;
    
}