.container{
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 1em;
}
.value{
    font-size: 3em;
}
.icon{
    display: block;
    aspect-ratio: 3/2;
    height: 3em;
    width: auto;
    background-image: url(../../../images/ticket.png);
    background-size: cover;
}