.container{
    display: flex;
    align-items: center;
    width: fit-content;
    position: absolute;
    top: 0%;
    right: 0%;
}
.value{
    font-size: 3em;
}
.icon{
    display: block;
    aspect-ratio: 3/2;
    height: 2.5em;
    width: auto;
    background-image: url(../../../images/ticket.png);
    background-size: cover;
}