.ticket_container {
    position: relative;

    aspect-ratio: 160/96;
    display: flex;
    justify-content: center;
    width: 9cqw;
    margin: 2cqh 1cqw;
    background-image: url("/images/Main/Ticket-icon.png");
    background-size: 100% 100%;

    container-type: size;
}

.ticket_value {
    position: absolute;
    top: 65%;
    transform: translate(0,-50%);

    font-size: 40cqh;
    color: var(--orange);
}